<header style="padding-left:20px">
    <h4>Project Management</h4>
</header>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/addProject">Add Project</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addTask">Add Task</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addUser">Add User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/viewTask">View Task</a>
  </li>
  
</ul>

<div class="container">
    <router-outlet></router-outlet>
</div>
